.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    bottom:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
    overflow-y:scroll;
    overflow-x:hidden;
}

.modal-wrapper {
    vertical-align: middle;
    margin: 2em 0;
}

.modal-container {
    width: 50%;
    margin: 0px auto;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 2rem;
    user-select: none;
}

.modal-header .modal-title {
    font-size: 1.5rem;
}

.modal-header button.close {
    outline: none;
    color: #0007;
    border: none;
    font-size: 2rem;
    background: none;
    cursor: pointer;
}

.modal-body {
    border-top: 1px solid #ddd;
    padding: 1.25rem 2rem;
}

.modal-body:empty {
    display: none;
}

.modal-footer {
    padding: 1.25rem 2rem;
    border-top: 1px solid #ddd;
}

.modal-footer:empty {
    display: none;
}

.modal-default-button {
    float: right;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

