.cropper {
    position: relative;
    width: 100%;
    overflow: hidden;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cropper .img-edit {
    max-width: unset;
    background: white;
    display: block;
    /* >> customizable */
    max-width: 50vw;
    max-height: 50vh;
    /* << customizable */
}
.cropper .mask-backdrop {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.cropper .mask-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    cursor: move;
    /* border: 1px solid white; */
}
.cropper .mask-wrapper svg {
    display: block;
}
.cropper .control-dot {
    position: absolute;
    width: 1rem;
    height: 1rem;
    background: white;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}
.cropper .control-dot-left {
    left: 0;
}
.cropper .control-dot-top {
    top: 0;
}
.cropper .control-dot-right {
    left: 100%;
}
.cropper .control-dot-bottom {
    top: 100%;
}
.cropper .control-dot-top.control-dot-left,
.cropper .control-dot-bottom.control-dot-right {
    cursor: nw-resize;
}
.cropper .control-dot-bottom.control-dot-left,
.cropper .control-dot-top.control-dot-right {
    cursor: ne-resize;
}