@font-face {
    font-family: GoogleSans;
    src: url(../fonts/googlesans.woff2);
}

.editor-wrapper-mobile {
    display: none;
}

.mobile-finish-btn {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f0f4fb;
    font-size: 16px;
}

*::-webkit-scrollbar {
    width: .8rem;
}

*::-webkit-scrollbar-track {
    background: #e2e3e4;
}

*::-webkit-scrollbar-thumb {
    background-color: #4a4a4a;
    border-radius: 6px;
    border: 3px solid #e2e3e4;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #4a4a4a #e2e3e4;
}

.editor-map {
    min-width: 35vw;
    border-right: 1px solid #aaa;
    border-left: 1px solid #aaa;
}

.prototype {
    display: none;
}

.font-weight-normal {
    font-weight: normal !important;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: GoogleSans;
}

body > .main-content {
    flex-basis: 100vw;
}

img {
    max-width: 100%; /* This rule is for cropperJs! */
}

em {
    font-style: normal;
    text-decoration: underline;
    /* font-weight: bolder; */
}

.ha-modal.show {
    z-index: 99999 !important;
}

.pac-container {
    z-index: 100000 !important;
}

.finish-btn.loading i {
    animation: spin 2s infinite;
}

.finish-btn.loading i:before {
    /* content: "\f1ce";  */
    content: "\f2f1";
    /* content: "\f021"; */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(-60deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.finish-btn:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 5em;
    transform-origin: 100% 100%;
}

.width-100 {
    width: 100% !important;
}

.hidden {
    display: none !important;
}

.canvas-wrapper {
    background-color: white;
    position: relative;
    flex-shrink: 0;
    flex-grow: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #f0f4fb;
    /* margin: 2rem; */
}

.canvas-container {
    background-color: white;
    margin: auto;
    border: solid 1em #fff;
    /* outline: solid 1px #3c535833; */
    /* transition: .25s; */
}

.editor-wrapper {
    width: 35rem;
    height: 100vh;
    flex-shrink: 0;
    background-color: white;
    box-shadow: -2px -2px 4px 0 #2345981a;
    position: relative;
    z-index: 1000;
}

@media screen and (max-width: 1400px) {
    .editor-wrapper {
        width: 25rem;
    }
}

.editor-wrapper .editor-info {
    display: none;
    background-color: #1f1f1f;
    padding: 1em 1.5em;
    user-select: none;
    height: 5em;
}

.editor-wrapper .editor-info .info-title {
    display: block;
    color: white;
}

.editor-wrapper .editor-info .info-subtitle {
    display: block;
    color: #ffffffbf;
}

.editor-wrapper .finish-btn {
    width: 100%;
    height: 5em;
    background-color: #6d7c61;
    color: white;
    font-family: GoogleSans;
    text-transform: uppercase;
    border: none;
    padding: 1em 1.5em;
    user-select: none;
    transition: .25s;
    cursor: pointer;

    position: sticky;
    bottom: 0;
}

.editor-wrapper .finish-btn:disabled {
    background-color: #aaa !important;
}

.editor-wrapper .finish-btn:hover {
    background-color: #4e5d4f;
    transition: .25s;
}

.editor-wrapper .finish-btn:active {
    background-color: #25301a;
    transition: .1s;
}

.vertical-align {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.editor-wrapper .finish-btn .vertical-align i {
    margin-right: 1em;
}

.editor::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

.editor {
    /* height: calc(100vh - 10em); */
    height: calc(100vh - 5em);
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.scroll-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

.scroll-hidden {
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.editor .group .group-title {
    padding: .5em 1.5em;
    user-select: none;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.editor .group .group-title i {
    margin-right: 1em;
    color: #e6a512;
    width: 1em;
    transition: .25s ease;
    font-size: .8em;
}

.editor .group.active .group-title i {
    transform: rotate(90deg);
}

.editor .group .group-title span {
    font-family: GoogleSans;
    line-height: 2;
    font-weight: 500;
    color: #4c596acc;
}

.editor .group .group-title:hover span {
    color: #4c596a;
}

.editor .group .group-body {
    padding: 0 1.5em;
    background-color: #fafafa;
    color: #606266;
    transition: .1s;
}

.editor .group.active .group-body {
    border-bottom: 1px solid #eee;
}

.form-upload-files {
    position: relative;
    overflow: hidden;
    display: block;
    user-select: none;
}

.form-upload-files input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.form-upload-files .button {
    border: 1px solid #4c596a33;
    border-radius: .5em;
    padding: 1.5em 1em;
    background-color: white;
    text-align: center;
    position: relative;
}

.form-upload-files .button i {
    color: #569c7fe6;
    font-size: 3em;
    display: block;
}

.form-upload-files .button span {
    color: #606266;
    /* font-size: 0; */
}

.progress .progress-bar {
    background-color: #569c7fe6;
}

.group-item {
    margin-bottom: 1em;
}

.form-item-label {
    font-size: .8rem;
    font-weight: 100;
}

.form-control {
    border-radius: 2px;
}

textarea.form-control:focus,
input.form-control:focus {
    box-shadow: 0 0 0 4px rgb(35 69 152 / 30%);
}

.uploaded-images img {
    border: 1px solid #4c596a33;
    border-radius: 1em;
    width: fit-content;
    height: 10em;
    object-fit: cover;
    user-select: none;
}

.uploaded-images .trash-icon {
    position: absolute;
    right: 0.25em;
    top: -.5em;
    background-color: #ffffffcc;
    width: 0;
    height: 0;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    text-align: center;
    color: #ea6b2d;
    transition: .25s;
    cursor: pointer;
    user-select: none;
}

.uploaded-images > div:hover .trash-icon {
    width: 2em;
    height: 2em;
    border-radius: 1em;
}

.uploaded-images .trash-icon i {
    font-size: 0;
    transition: .25s;
}

.uploaded-images > div:hover .trash-icon i {
    font-size: 2em;
}

.uploaded-images > div .trash-icon:active i {
    color: #b14f0e;
    transition: 0s;
}

.uploaded-images > div:not(:is(:nth-child(1), :nth-child(2), :nth-child(3))) {
    margin-top: 1em;
}

.subgroup {
    padding: .25em 0;
    box-sizing: border-box;
    font-size: .8em;
    font-weight: 600;
    user-select: none;
}

.subgroup + .subgroup {
    border-top: 1px solid #ebeef5;
}

.subgroup-title i {
    margin-right: 1em;
}

.subgroup .subgroup-title {
    padding: .5em 0;
    cursor: pointer;
    position: relative;
}

.group .subgroup .subgroup-title:before {
    display: none;
}

.group.active .subgroup .subgroup-title:before {
    display: block;
    content: "\f054";
    position: absolute;
    right: 1.5em;
    top: .5em;
    font-family: "Font Awesome 5 Free";
    transition: .25s;
}

.group.active .subgroup.active .subgroup-title:before {
    transform: rotate(90deg);
}

.btn {
    background-color: #ffffffe6;
    padding: 1rem 1.5rem;
    font-weight: 500;
    user-select: none;
    transition: .25s;
    cursor: pointer;
    text-transform: uppercase;
    color: #4e4e4e;
    border: 1px solid #4c596a33;
    border-radius: 2px;
    box-shadow: none !important;
}

.btn.btn-primary {
    color: white;
}

.btn.btn-secondary {
    border: 1px solid #666;
}

.btn:not(.btn-secondary):hover {
    border-color: #569c7f;
    transition: .25s;
}

.btn:active {
    border-color: #3c5358;
    transition: .1s;
}

.ha-modal-region {
    z-index: 99999 !important;
}

.ha-modal .btn.btn-primary {
    background-color: #7aadbf;
    border-color: #7aadbf;
}

.ha-modal .btn.btn-primary:is(:focus, :focus:active) {
    box-shadow: none;
}

.ha-modal .btn.btn-primary:active {
    background-color: #657c85;
    border-color: #657c85;
}

.ha-modal .btn.btn-secondary:is(:focus, :focus:active) {
    box-shadow: none;
}

.ha-modal .btn.btn-secondary:not(:hover) {
    background-color: white;
    color: #555;
}


.ha-modal .modal-header .modal-title {
    user-select: none;
}

.ha-modal .modal-header {
    background-color: #ffffff;
    line-height: 1.5;
    border-radius: 0 !important;
    color: #555;
    padding: 1rem 2rem;
}

.ha-modal .modal-header span {
    margin-top: .15rem;
}

.ha-modal .modal-body {
    padding: 1rem 2rem 2rem;
    background-color: #ffffff;
}

.dz-clickable {
    width: 100%;
    cursor: pointer !important;
    /* border: 2px dashed #569c7f !important; */
    border: 2px dashed #a2a2a2 !important;
    border-radius: 2px !important;
    background: white !important;
    min-height: 150px !important;
    padding: 54px 54px !important;
    margin: 0 !important;
}

.dz-progress {
    display: none;
}

.dz-remove {
    font-size: 0 !important;
}

.dz-image {
    box-shadow: 0 0 0.25em #0005;
}

.dz-image img {
    cursor: pointer !important;
    user-select: none !important;
}

.dz-remove:before {
    content: "\f00d";
    position: absolute;
    top: -.5em;
    right: -.5em;
    z-index: 9999;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 2rem;
    color: #ea6b2d;
    width: 2.5rem;
    height: 2.5rem;
    padding: .25em;
    border-radius: 1em;
    display: block;
    line-height: .75;
    background-color: #fff;
    box-shadow: 0 0 0.25em #0005;
}

.dz-message {
    user-select: none;
    font-size: 1.25em;
    color: #3c5358;
    margin: 2rem auto !important;
}

#myAwesomeDropzone .dz-details {
    display: none;
}

#myAwesomeDropzone {
    display: flex;
    overflow: auto;
}

.dropzone .dz-preview .dz-image {
    box-shadow: none;
    border: 1px solid #ddd;
}


/* .cropper-image {
    max-height: 400px;
} */

.form-group {
    font-weight: 400;
    line-height: 1.5;
    position: relative;
}

.editor .form-group label {
    touch-action: manipulation;
    display: block;
    font-weight: 500;
    color: #4c596a;
    margin: 0;
    padding: 0 1rem;
    width: 10rem;
    text-align: left;
    line-height: 3rem;
    height: 3rem;
    font-size: .8rem;
    text-overflow: ellipsis;
    overflow: hidden;
    user-select: none;
    height: 100%;
}

.editor .form-group {
    display: flex;
}

.editor .form-group :is(input, textarea) {
    touch-action: manipulation;
    display: block;
    width: 100%;
    font-size: 1rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    border-radius: 2px;
    border: 1px solid rgba(35,69,152,.15);
    outline: none !important;
    line-height: 2;
    /* height: 3rem; */
    padding: .5rem 1rem;
    /* overflow-y: hidden; */
    resize: none;
}

.editor .form-group input[type="number"]::-webkit-inner-spin-button,
.editor .form-group input[type="number"]::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

.editor .form-group input[type="number"] {
    -moz-appearance: textfield;
}

.form-group :is(input, textarea)::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #495057aa;
    opacity: 1; /* Firefox */
}

.form-group :is(input, textarea):-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #495057aa;
}

.form-group :is(input, textarea)::-ms-input-placeholder { /* Microsoft Edge */
    color: #495057aa;
}

.form-group :is(input, textarea):focus {
    box-shadow: 0 0 0 4px rgb(35 69 152 / 30%);
}

.group-body > :first-child {
    margin-top: 1rem;
}

.group-body > :last-child {
    margin-bottom: 1rem;
}

.splide__slide {
    display: flex !important;
    justify-content: center;
}

.splide__slide .bg {
    max-width: 100%;
    height: 15em;
    object-fit: contain;
}

.splide__slide .bg:not(img) {
    width: 20em;
}

.splide__pagination__page.is-active {
    background-color: #000000;
}

.description {
    font-weight: 400;
    line-height: 1.5;
    border-radius: .4rem;
    font-size: .8rem;
    display: block;
    color: rgba(76,89,106,.5);
    text-align: center;
}

.leaflet-control-container {
    display: none !important;
}

.calc-area {
    position: absolute;
    visibility: hidden;
    z-index: -999999;
    top: 0;
    left: 0;
    transition: unset !important;
}

.select-group {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
    justify-content: flex-start;
}

.select-group .option {
    display: flex;
    flex: 0 0 32%;
    max-width: 32%;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #23459826;
    color: #4c596a;
    padding: 1em .25em;
    user-select: none;
    cursor: pointer;
    border-radius: .2em;
    margin: .25em 0.15rem;
}

.select-group .option.selected {
    /* background-color: #4e5d4f; */
    border: .25rem solid #19295356;
}

.mapboxgl-canvas {
    outline: none !important;
}

.ranger {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: .5rem; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
}

.ranger::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 1rem; /* Set a specific slider handle width */
    height: 1rem; /* Slider handle height */
    background: #4c596a; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
    position: relative;
}

.ranger::-moz-range-thumb {
    width: 1rem; /* Set a specific slider handle width */
    height: 1rem; /* Slider handle height */
    background: #4c596a; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
    position: relative;
}

/*
 * Hidden high-res map for rendering final image
 */
.hidden-map {
    overflow: hidden;
    height: 0;
    width: 0;
    position: fixed;
}

.map-container {
    background-color: white;
    margin: auto;
    border: solid 1px #555;
    /* outline: solid 1px #3c535833; */
}

.editor-map-modal .modal-body {
    background-color: #f0f4fb;
}

.song-search {
    position: relative;
}

.song-search input {
    padding-left: 1rem;
}

.spotify-manual-toggle {
    color: #4c596a;
}

.spotify-manual-toggle i {
    width: 1.5rem;
}

.song-search .search-results {
    display: block;
    width: 100%;
    max-height: 10rem;
    overflow: auto;
    background-color: white;
    border-radius: 2px;
    border: 1px solid #ced4da;
    padding: 0 .75rem;
}

.song-search .search-results:empty {
    display: none;
}

.search-results *:first-child {
    margin-top: .375rem;
}

.search-results *:last-child {
    margin-bottom: .375rem;
}

.search-results .search-result {
    padding: .25rem .5rem;
    user-select: none;
    cursor: pointer;
}

.search-results :is(.search-result:hover, .search-result.selected) {
    background-color: #d2edff;
}

.search-results .search-result .artist {
    font-size: .8rem;
}

.theme-options {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.theme-option-wrapper {
    flex: 0 1 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

.theme-option-wrapper span {
    font-size: .8rem;
}

.theme-option {
    display: inline-block;
    max-width: 100%;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    border: 4px solid #dbdee1;
    margin-bottom: .25rem;
    font-size: 1.25rem;
    font-weight: 500;
    user-select: none;
    cursor: pointer;
    background-color: white;
}

.theme-option.selected {
    border-color: #a5a5a5;
}

.theme-option.white {
    background-color: white;
    color: black;
}

.theme-option.dark {
    background-color: #333;
    color: white;
}

.theme-option.nautical {
    background-color: #fdf7ef;
    color: #cf8a7c;
}

.theme-option.koda {
    background-color: #e5f3ff;
    color: black;
}

.theme-option.techni {
    background-color: #ffd4c8;
    color: black;
}

.page-loader {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99999;
    left: 0;
    top: 0;
    background-color: #000a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-loader .loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #201d21; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@media screen and (max-width: 1400px) {
    .page-loader .loader {
        width: 50px;
        height: 50px;
    }
}

.page-loader .message {
    color: white;
    font-size: 1rem;
    margin-top: 1rem;
    user-select: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.img-container {
    /* Never limit the container height here */
    max-width: 100%;
}
  
.img-container img {
    /* This is important */
    width: 100%;
}

.swal2-confirm {
    background-color: #9bba88 !important;
}

button.swal2-styled {
    border-radius: 2px !important;
    outline: none !important;
    box-shadow: none !important;
}

.swal2-container {
    z-index: 100000 !important;
}

.swal2-popup {
    border-radius: 2px !important;
}

.swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
    background: #0008 !important;
}

.swal2-title {
    font-size: 1.275rem !important;
}

textarea.float-text-editor {
    display: block;
    position: fixed;
    bottom: 0;
}

input[type=range] {
    width: 100%;
    margin: 8.35px 0;
    background-color: transparent;
    -webkit-appearance: none;
    position:relative;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    background: #c8c8c8;
    border: 2.3px solid #dbd58f;
    border-radius: 25px;
    width: 100%;
    height: 13.3px;
    cursor: pointer;
  }
  input[type=range]::-webkit-slider-thumb {
    margin-top: -10.65px;
    width: 30px;
    height: 30px;
    background: #ffffff;
    border: 5px solid #c8c8c8;
    border-radius: 12px;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #dcdcdc;
  }
  input[type=range]::-moz-range-track {
    background: #c8c8c8;
    border: 2.3px solid #dbd58f;
    border-radius: 25px;
    width: 100%;
    height: 13.3px;
    cursor: pointer;
  }
  input[type=range]::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background: #ffffff;
    border: 5px solid #c8c8c8;
    border-radius: 12px;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 12.45px 0;
    color: transparent;
    width: 100%;
    height: 13.3px;
    cursor: pointer;
  }
  input[type=range]::-ms-fill-lower {
    background: #b4b4b4;
    border: 2.3px solid #dbd58f;
    border-radius: 50px;
  }
  input[type=range]::-ms-fill-upper {
    background: #c8c8c8;
    border: 2.3px solid #dbd58f;
    border-radius: 50px;
  }
  input[type=range]::-ms-thumb {
    width: 30px;
    height: 30px;
    background: #ffffff;
    border: 5px solid #c8c8c8;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #c8c8c8;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #dcdcdc;
  }
  /*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
  how to remove the virtical space around the range input in IE*/
  @supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
      margin: 0;
      /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
  }
  

/* >> DEV Tools */

#dev-tools-wrapper .layers .layer {
    width: 100%;
    height: 5rem;
    background-color: #6d7c6133;
}

#dev-tools-wrapper .layers .layer + .layer {
    margin-top: .25rem;
}

/* << DEV Tools */