@media screen and (max-width: 992px) {
    html {
        overscroll-behavior: none !important;
    }

    body {
        height: 100%;
    }

    .canvas-wrapper {
        margin: 0 !important;
    }

    .editor-wrapper {
        /* display: none !important; */
        width: unset;
        height: unset;
    }

    .editor-wrapper .editor {
        height: unset;
    }

    .modal .modal-dialog {
        width: 80vw !important;
    }

    .main-content {
        flex-direction: column;
        min-height: calc(100vh);
    }

    .editor-wrapper-mobile {
        width: 100%;
        background-color: white;
        box-shadow: 0 0 1rem #0002;
        display: flex;
        flex-direction: column;
        display: none;
    }

    .tab-indicators {
        display: flex;
        flex-direction: row;
        flex-basis: 100vw;
        justify-content: space-evenly;
        max-height: 3rem;
    }

    .tab-indicators span {
        position: relative;
        padding: 1rem 2rem;
        cursor: pointer !important;
        user-select: none;
        font-weight: bolder;
        color: #555;
    }

    .tab-indicators span:before {
        position: absolute;
        content: '';
        display: block;
        border-radius: 1rem;
        width: 0;
        height: .25rem;
        bottom: 0;
        left: 0;
        background-color: purple;
        transition: .25s;
    }

    .tab-indicators span.active:before {
        width: 100%;
    }


    .tab-content:not(.active) {
        display: none;
    }

    .tab-content.active {
        background-color: #f0f4fb;
        height: fit-content;
        padding: 1rem;
        flex-grow: 1;
    }

    .editor-wrapper-mobile .btn-wrapper {
        padding: 1rem;
    }

    .mobile-finish-btn {
        background-color: #4e5d4f;
        color: white;
        text-transform: uppercase;
        padding: 2rem 1.25rem;
        /* position: relative; */
        z-index: 1;
        border-radius: 0;
        font-size: 1.2rem;
        position: relative;
        bottom: 0;
        width: 100%;
        display: block;
    }

    .editor-map {
        min-width: 50vw;
    }

    .editor-map-wrapper {
        justify-content: center !important;
    }

    .editor-map-wrapper .apply-btn-wrapper button {
        width: 100%;
        padding: 1rem;
        font-size: 1.2rem;
        margin-top: 2rem;
    }

    .splide__slide {
        object-fit: contain;
        display: flex !important;
        justify-content: center;
        width: 100vw;
    }

    .splide__list {
        max-width: 20em;
    }

    .editor .form-group :is(label) {
        width: 8rem;
    }

    .is-mobile .modal .modal-dialog {
        width: 100vw !important;
        margin: 4rem auto !important;
    }

    .select-group .option {
        margin: .25em 0.1rem;
    }

}
