.ha-modal-region {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.ha-modal-region.show {
    display: flex;
    background: #0007;
}
.ha-modal {
    display: none;
    margin: 2rem 0;
    height: fit-content;
    max-height: calc(var(--viewport-height) - 4rem);
    border: 1px solid rgba(0,0,0,.2);
    background: white;
    overflow: auto;
}
.ha-modal.show {
    display: block;
}
.no-scroll {
    overflow: hidden;
}