
.image_upload_wrapper{
	width: 100%;
	height: 100px;
	border: 1px dashed #ccc;
	border-radius: 5px;
	overflow: hidden;
}
.image_upload_wrapper #LoadImage{
	display: none;
}
.image_upload_wrapper label{
	width: 100%;
	height: 100%;
	cursor: pointer;
}
/*/////////////////////////*/

.image-upload-wrapper{
	margin: 10px 0;
	width: 100%;
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
 	grid-gap: 15px;
}
.image-upload-wrapper::before{
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}
.image-upload-wrapper .image-upload-item:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
}
.image-upload-wrapper .image-upload-item{
	background-color: #fff;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
/*.image-upload-wrapper {
	margin: 5px 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}*/
.image-upload-wrapper .image-upload-item {
	overflow: hidden;
	/*border: 1px solid #ccc;*/
	border-radius: 5px;
	overflow: hidden;
    box-shadow: 0 0 7px 2px #e1e0e0;
    cursor: pointer;
}
.image-upload-wrapper .image-upload-item img{
	width: 100%;
}
.image-upload-button i{
	margin: 0 5px;
}
.image-upload-button .is-none,
.image-upload-button .is-has-upload,
.image-upload-button .is-success,
.image-upload-button .is-error{
	display: none;
}

.image-upload-button.none .is-none{
	display: inline;
}
.image-upload-button.has-upload .is-has-upload{
	display: inline;
}
.image-upload-button.success .is-success{
	display: inline;
}
.image-upload-button.error .is-error{
	display: inline;
}
