.main{
    width: 100%;
    height: 100%;
}
.main .content{
    float: left;
    width: 75%;
    height: 100%;
}
.main .sidebar{
    position: relative;
    float: left;
    width: 25%;
    height: 100%;
    background-color: #fff;
}
.main{

}
.main .sidebar button.btn-secondary{
    font-size: 12px;
    padding: 8px 16px;
    margin: 0 10px 10px 0;
}
.nav-tabs{
    border: none;
    border-bottom: 1px solid #eaeaea;
    background-color: #fff;
    padding: 10px 10px 0 10px;
    z-index: 1000;
}
.tab-pane{
    padding: 20px 0;
}
.dz-default{
    border: 1px dashed  #aaa;
}
textarea{
    resize: none;
}
.sidebar-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65px;
    padding: 10px;
    border-top: 1px solid #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.sidebar-footer button{
    width: 50%;
    height: 100%;
    float: left;
    margin: 0 10px;
}
.tab-content{
    margin: 0 -5px;
    padding: 0 20px;
    width: 100%;
    height: calc(100% - 100px);
    overflow-y: scroll;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle{
    background-color: #fff0;
}