@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {

}
*{
    box-sizing: border-box;
}

html {
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #3b82f680;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;


    --scrollbarBG: #CFD8DC;
    --thumbBG: #90A4AE;
    background: lightgrey;
    overflow: hidden;
}
body::-webkit-scrollbar {
  width: 11px;
}
body,
    .page-modal .page-modal-body ,
    .tab-content{
        scrollbar-width: thin;
        scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

.wrapper{
    width: 1280px;
    max-width: 1280px;
    margin: auto;
}
html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans";
    background-color: #ccc;
}
a{
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    text-decoration: none;
    color: #fff !important;
}
*, h1, h2, h3, h4, h5, h6, p, input[type="radio"], input[type="checkbox"], ul{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
body img {
    /* Only render when in viewport */
    content-visibility: auto;
}
header {

}

main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

footer {
    width: 100%;
}

/* LAYOUT */
.align-justify-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.align-center{
    display: flex;
    align-items: center;
}
.justify-center{
    display: flex;
    justify-content: center;
}
.flex-left{
    margin-right: auto;
}
.flex-right{
    margin-left: auto;
}
.show{
    display: block !important;
}
.lp{
    display: block;
}
.sp{
    display: none;
}
.m-l-5{margin-left: 5px}
.m-l-10{margin-left: 10px}
.m-l-15{margin-left: 15px}
.m-l-20{margin-left: 20px}
.m-l-25{margin-left: 25px}
.m-l-30{margin-left: 30px}
.m-l-40{margin-left: 40px}
.m-l-50{margin-left: 50px}
.m-r-5{margin-right: 5px}
.m-r-10{margin-right: 10px}
.m-r-15{margin-right: 15px}
.m-r-20{margin-right: 20px}
.m-r-25{margin-right: 25px}
.m-r-30{margin-right: 30px}
.m-r-40{margin-right: 40px}
.m-r-50{margin-right: 50px}
.m-t-5{margin-top: 5px}
.m-t-10{margin-top: 10px}
.m-t-15{margin-top: 15px}
.m-t-20{margin-top: 20px}
.m-t-25{margin-top: 25px}
.m-t-30{margin-top: 30px}
.m-t-40{margin-top: 40px}
.m-t-50{margin-top: 50px}
.m-b-5{margin-bottom: 5px}
.m-b-10{margin-bottom: 10px}
.m-b-15{margin-bottom: 15px}
.m-b-20{margin-bottom: 20px}
.m-b-25{margin-bottom: 25px}
.m-b-30{margin-bottom: 30px}
.m-b-40{margin-bottom: 40px}
.m-b-50{margin-bottom: 50px}

/* END LAYOUT */

