@font-face {
    font-family: HelveticaNeue-Light;
    src: url(/assets/iframe/fonts/HelveticaNeueLight.ttf);
}

@font-face {
    font-family: HelveticaNeue-Medium;
    src: url(/assets/iframe/fonts/HelveticaNeueMedium.otf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(/assets/iframe/fonts/Roboto-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-color: #f0f4fb;
    font-size: 16px;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat;
}

body > .main-content {
    flex-basis: 100vw;
}

img {
    max-width: 100%; /* This rule is for cropperJs! */
}

em {
    font-style: normal;
    text-decoration: underline;
    font-weight: bolder;
}

/* >> Editor map */
.editor-map {
    width: 100%;
    height: 300px;
}


.editor-map-modal .modal-body {
    background-color: #f0f4fb;
}
/* << Editor map */

.modal.show {
    z-index: 99999 !important;
}

.pac-container {
    z-index: 100000 !important;
}

.finish-btn.loading i {
    animation: spin 2s infinite;
}

.finish-btn.loading i:before {
    content: "\f2f1";
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(-60deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.finish-btn:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    animation: custom-pulse 2s infinite;
    z-index: -1;
    width: 100%;
    height: 5em;
}

@keyframes custom-pulse {
    from {
        transform: scale(1, 1);
        transform-origin: 100% 100%;
        background-color: #4e5d4f;
    }
    to {
        transform: scale(1.025, 1.15);
        transform-origin: 100% 100%;
        background-color: #fff3;
    }
}

.width-100 {
    width: 100% !important;
}

.hidden {
    display: none !important;
}

.canvas-wrapper {
    background-color: white;
    position: relative;
    flex-shrink: 0;
    flex-grow: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #f0f4fb;
}

.canvas-container {
    background-color: white;
    margin: auto;
    border: solid 1em #fff;
    outline: solid 1px #3c535833;
}

.editor-wrapper {
    width: 35rem;
    /* width: 1rem; */
    height: 100vh;
    flex-shrink: 0;
    background-color: white;
    box-shadow: -2px -2px 4px 0 #2345981a;
    position: relative;
    z-index: 1000;
}

.editor-wrapper .editor-info {
    background-color: #1f1f1f;
    padding: 1em 1.5em;
    user-select: none;
    height: 5em;
}

.editor-wrapper .editor-info .info-title {
    display: block;
    color: white;
}

.editor-wrapper .editor-info .info-subtitle {
    display: block;
    color: #ffffffbf;
}

.editor-wrapper .finish-btn {
    height: 5em;
    background-color: #6d7c61;
    color: white;
    font-family: Montserrat;
    /* font-weight: 700; */
    text-transform: uppercase;
    padding: 1em 1.5em;
    user-select: none;
    transition: .25s;
    cursor: pointer;
}

.editor-wrapper .finish-btn:hover {
    background-color: #4e5d4f;
    transition: .25s;
}

.editor-wrapper .finish-btn:active {
    background-color: #25301a;
    transition: .1s;
}

.vertical-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.editor-wrapper .finish-btn .vertical-align i {
    margin-right: 1em;
}

.editor::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

.editor {
    height: calc(100vh - 10em);
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.scroll-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

.scroll-hidden {
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.editor .group .group-title {
    padding: .5em 1.5em;
    user-select: none;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.editor .group .group-title i {
    margin-right: 1em;
    color: #e6a512;
    width: 1em;
    transition: .25s ease;
    font-size: .8em;
}

.editor .group.active .group-title i {
    transform: rotate(90deg);
}

.editor .group .group-title span {
    font-family: Montserrat;
    line-height: 2;
    font-weight: 900;
    color: #4c596acc;
}

.editor .group .group-title:hover span {
    color: #4c596a;
}

.editor .group .group-body {
    padding: 0 1.5em;
    background-color: #f0f4fb;
    color: #606266;
    transition: .25s;
}

.form-upload-files {
    position: relative;
    overflow: hidden;
    display: block;
    user-select: none;
}

.form-upload-files input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.form-upload-files .button {
    border: 1px solid #4c596a33;
    border-radius: .5em;
    padding: 1.5em 1em;
    background-color: white;
    text-align: center;
    position: relative;
}

.form-upload-files .button i {
    color: #569c7fe6;
    font-size: 3em;
    display: block;
}

.form-upload-files .button span {
    color: #606266;
    /* font-size: 0; */
}

.progress .progress-bar {
    background-color: #569c7fe6;
}

.group-item {
    margin-bottom: 1em;
}

.form-item-label {
    font-size: .8rem;
    font-weight: 100;
}

input.form-control:focus {
    box-shadow: none;
    /* border-color: #00a590; */
}

.uploaded-images img {
    border: 1px solid #4c596a33;
    border-radius: 1em;
    width: fit-content;
    height: 10em;
    object-fit: cover;
    user-select: none;
}

.uploaded-images .trash-icon {
    position: absolute;
    right: 0.25em;
    top: -.5em;
    background-color: #ffffffcc;
    width: 0;
    height: 0;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    text-align: center;
    color: #ea6b2d;
    transition: .25s;
    cursor: pointer;
    user-select: none;
}

.uploaded-images > div:hover .trash-icon {
    width: 2em;
    height: 2em;
    border-radius: 1em;
}

.uploaded-images .trash-icon i {
    font-size: 0;
    transition: .25s;
}

.uploaded-images > div:hover .trash-icon i {
    font-size: 2em;
}

.uploaded-images > div .trash-icon:active i {
    color: #b14f0e;
    transition: 0s;
}

.uploaded-images > div:not(:is(:nth-child(1), :nth-child(2), :nth-child(3))) {
    margin-top: 1em;
}

.subgroup {
    padding: .25em 0;
    box-sizing: border-box;
    font-size: .8em;
    font-weight: 600;
    user-select: none;
}

.subgroup + .subgroup {
    border-top: 1px solid #ebeef5;
}

.subgroup i {
    margin-right: 1em;
}

.subgroup .subgroup-title {
    padding: .5em 0;
    cursor: pointer;
    position: relative;
}

.group .subgroup .subgroup-title:before {
    display: none;
}

.group.active .subgroup .subgroup-title:before {
    display: block;
    content: "\f054";
    position: absolute;
    right: 1.5em;
    top: .5em;
    font-family: "Font Awesome 5 Free";
    transition: .25s;
}

.group.active .subgroup.active .subgroup-title:before {
    transform: rotate(90deg);
}

.group .btn {
    background-color: #ffffffe6;
    padding: 1.25em 1.25em;
    font-weight: 700;
    user-select: none;
    transition: .25s;
    cursor: pointer;
    text-transform: uppercase;
    color: #4e4e4e;
    border: 1px solid #4c596a33;
    border-radius: 2px;
}

.group .btn:hover {
    border-color: #569c7f;
    transition: .25s;
}

.group .btn:active {
    border-color: #3c5358;
    transition: .1s;
}

.modal.show {
    display: flex !important;
    justify-content: center;
}

.modal.show .modal-dialog {
    margin: 2em 0;
    max-width: unset;
}

.modal .modal-dialog {
    width: 50vw !important;
}

.modal .modal-content {
    border-radius: 0;
}

.modal .btn.btn-primary {
    background-color: #569c7f;
    border-color: #569c7f;
}

.modal .btn.btn-primary:is(:focus, :focus:active) {
    /* box-shadow: 0 0 0 0.2rem #569c7f66; */
    box-shadow: none;
}

.modal .btn.btn-primary:active {
    background-color: #3c5358;
}

.modal .btn.btn-secondary:is(:focus, :focus:active) {
    box-shadow: none;
}

.modal .btn.btn-secondary {
    background-color: transparent;
    color: #555;
}


.modal .modal-header .modal-title {
    font-weight: bolder;
    user-select: none;
}

.modal .modal-header {
    background-color: #ffffff;
    line-height: 1.5;
    font-weight: bolder;
    border-radius: 0 !important;
    color: #555;
    padding: 1rem 2rem;
}

.modal .modal-header span {
    margin-top: .15rem;
}

.modal .modal-body {
    padding: 1rem 2rem 2rem;
}

.dz-clickable {
    width: 100%;
    cursor: pointer !important;
    border: 2px dashed #569c7f !important;
    border-radius: 5px !important;
    background: white !important;
    min-height: 150px !important;
    padding: 54px 54px !important;
    margin: 0 !important;
}

.dz-progress {
    display: none;
}

.dz-remove {
    font-size: 0 !important;
}

.dz-image {
    box-shadow: 0 0 0.25em #0005;
}

.dz-image img {
    cursor: pointer !important;
    user-select: none !important;
}

.dz-remove:before {
    content: "\f00d";
    position: absolute;
    top: -.5em;
    right: -.5em;
    z-index: 9999;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 2rem;
    color: #ea6b2d;
    width: fit-content;
    height: fit-content;
    padding: .25em;
    border-radius: 1em;
    display: block;
    line-height: .75;
    background-color: #fff;
    box-shadow: 0 0 0.25em #0005;
}

.dz-message {
    user-select: none;
    font-size: 1.25em;
    color: #3c5358;
}

#myAwesomeDropzone .dz-details {
    display: none;
}


.cropper-image {
    max-height: 400px;
}

.form-group {
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.6rem;
    position: relative;
}

.editor .form-group label {
    touch-action: manipulation;
    display: block;
    font-weight: 700;
    color: #4c596a;
    margin: 0;
    padding: 0 1rem;
    width: 10rem;
    position: absolute;
    border-right: 1px dotted rgba(35,69,152,.15);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: left;
    line-height: 3rem;
    height: 3rem;
    font-size: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    user-select: none;
    height: 100%;
}

.editor .form-group :is(input, textarea) {
    touch-action: manipulation;
    display: block;
    width: 100%;
    font-size: 1rem;
    background-image: none;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    border-radius: 2px;
    border: 1px solid rgba(35,69,152,.15);
    outline: none!important;
    outline-color: transparent;
    outline-style: none;
    line-height: 3rem;
    height: 3rem;
    padding: 0 1.5rem;
    padding-left: 11rem;
    overflow-y: hidden;
    resize: none;
}

.form-group :is(input, textarea)::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #495057aa;
    opacity: 1; /* Firefox */
}

.form-group :is(input, textarea):-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #495057aa;
}

.form-group :is(input, textarea)::-ms-input-placeholder { /* Microsoft Edge */
    color: #495057aa;
}

.form-group :is(input, textarea):focus {
    box-shadow: 0 0 0 4px rgb(35 69 152 / 30%);
}

.group-body > :first-child {
    margin-top: 1rem;
}

.group-body > :last-child {
    margin-bottom: 1rem;
}

.splide__slide {
    display: flex !important;
    justify-content: center;
}

.splide__slide .bg {
    max-width: 100%;
    height: 15em;
    object-fit: contain;
}

.splide__slide .bg:not(img) {
    width: 20em;
}

.description {
    font-weight: 400;
    line-height: 1.5;
    border-radius: .4rem;
    font-size: .8rem;
    display: block;
    color: rgba(76,89,106,.5);
    text-align: center;
}

.leaflet-control-container {
    display: none !important;
}

.calc-area {
    position: absolute;
    visibility: hidden;
    z-index: -999999;
    top: 0;
    left: 0;
    transition: unset !important;
}

.select-group {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
    justify-content: space-between;
}

.select-group .option {
    display: flex;
    flex: 0 0 32%;
    max-width: 32%;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid rgba(35,69,152,.15);
    color: #4c596a;
    padding: 1em .25em;
    user-select: none;
    cursor: pointer;
    border-radius: .2em;
    margin: .25em 0;
}

.select-group .option.selected {
    background-color: #4e5d4f;
    color: white;
}

.mapboxgl-canvas {
    outline: none !important;
}

/*
 * Hide high-res map rendering
 */
.hidden-map {
    overflow: hidden;
    height: 0;
    width: 0;
    position: fixed;
}

.map-container {
    background-color: white;
    margin: auto;
    border: solid 1em #fff;
    outline: solid 1px #3c535833;
}

/* >> DEV Tools */

#dev-tools-wrapper .layers .layer {
    width: 100%;
    height: 5rem;
    background-color: #6d7c6133;
}

#dev-tools-wrapper .layers .layer + .layer {
    margin-top: .25rem;
}

/* << DEV Tools */